# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# Flask stuff:
instance/
.webassets-cache

# PyCharm
.idea/

# Spyder project settings
.spyderproject
.spyproject

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store